<br><br><br><br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h2 class="mb-4 "><%=t("edit_user")%> </h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'needs-validation' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-floating mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'floatingInput' %>
          <%= f.label :email, for: 'floatingInput' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-floating mb-3">
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', id: 'floatingPassword' %>
          <%= f.label :password, for: 'floatingPassword' %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= @minimum_password_length %> <%=t("characters_minimum")%></small>
          <% end %>
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', id: 'floatingPasswordConfirmation' %>
          <%= f.label :password_confirmation, for: 'floatingPasswordConfirmation' %>
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', id: 'floatingCurrentPassword' %>
          <%= f.label :current_password, for: 'floatingCurrentPassword' %>
        </div>

        <div class="mb-3">
          <%= f.submit t("update"), class: 'btn btn-dark w-100 py-2' %>
        </div>
      <% end %>

      <h3 class="mt-4 text-center"><%=t("cancel_my_account")%></h3>

      <div class="mb-3">
        <p><%= button_to t("cancel_my_account"), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger w-100 py-2' %></p>
      </div>

      <%= link_to t("back"), :back, class: 'btn btn-secondary w-100 py-2' %>
    </div>
  </div>
</div>
