<div class="container mt-5">
  <h3 class="mb-4 text-center"><%= t("available_menus") %></h3>
  <div class="row justify-content-center">
    <% prebuilt_menus.each do |menu| %>
      <div class="col-md-8 mb-4 d-flex align-items-stretch"> <!-- Changed col-md-4 to col-md-8 to accommodate wider cards -->
        <div class="card h-100 shadow" style="width: 200%; height: 70%;"> <!-- Adjusted card width and height -->
          <% if menu.image.attached? %>
            <div class="img-container">
              <%= image_tag menu.image, class: 'img-fluid' %>
            </div>
          <% else %>
            <div class="img-container" style="background-color: #f8f9fa;"></div>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= menu.name %></h5>
            <p class="card-text"><strong><%= t("cost_per_person") %>:</strong> <%= menu.cost %> <%= t("afn") %></p>
            <%= link_to t("view_menu"), prebuilt_menu_path(menu), class: "btn btn-primary mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
