<!-- app/views/recommendations/_prebuilt_menus_list.html.erb -->
<% if prebuilt_menus.any? %>
  <div class="row">
    <% prebuilt_menus.each_with_index do |prebuilt_menu, index| %>
      <div class="col-md-4">
        <div class="card card-custom <%= 'card-middle' if (index + 1) % 3 == 2 %>">
          <% if prebuilt_menu.image.attached? %>
            <%= image_tag prebuilt_menu.image, class: 'card-img-top img-thumbnail-custom', alt: 'Menu Image' %>
          <% else %>
            <img src="https://via.placeholder.com/300x200.png?text=No+Image" class="card-img-top img-thumbnail-custom" alt="Placeholder Image">
          <% end %>
          <div class="card-body card-body-custom">
            <h5 class="card-cost card-cost-custom"><%= prebuilt_menu.cost %> <span><%= t("afn") %></span></h5>
            <p class="card-title card-title-custom"><%= prebuilt_menu.name %></p>
            <div class="text-center mt-4">
              <%= link_to t("show"), prebuilt_menu, class: 'btn btn-custom btn-sm mr-2' %>
              <% unless current_user&.user_detail&.is_admin %>
                <%= link_to t("order"), new_order_path(prebuilt_menu_id: prebuilt_menu.id), class: 'btn btn-success-custom btn-sm' %>
              <% end %>
              <% if current_user&.user_detail&.is_admin %>
                <%= link_to t("edit"), edit_prebuilt_menu_path(prebuilt_menu), class: 'btn btn-warning-custom btn-sm mr-2' %>
                <%= button_to t("destroy"), prebuilt_menu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger-custom btn-sm', style: 'margin-top: 5px;' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p><%= t("no_menu_found") %></p>
<% end %>
