<!-- app/views/recommendations/new.html.erb -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="row justify-content-center w-100" style="margin-top: -50px;">
    <div class="col-md-6">
      <h2 class="mb-4"><%= t("find_a_good_menu_for_yourself") %></h2>

      <%= form_with url: recommendations_path, method: :post, local: true, class: 'needs-validation', data: { turbo_stream: true } do %>
        <div class="form-group mb-3">
          <%= label_tag :min_price, t("minimum_price"), class: 'form-label' %>
          <%= number_field_tag :min_price, nil, class: 'form-control', min: 0, placeholder: t("enter_minimum_price") %>
        </div>

        <div class="form-group mb-4">
          <%= label_tag :max_price, t("maximum_price"), class: 'form-label' %>
          <%= number_field_tag :max_price, nil, class: 'form-control', min: 0, placeholder: t("enter_maximum_price") %>
        </div>

        <div class="d-grid">
          <%= submit_tag t("find_menu"), class: 'btn btn-dark' %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="menus" class="mt-5"></div>
</div>

<style>
  .form-control {
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: box-shadow 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 8px rgba(128, 189, 255, 0.6);
  }

  .btn {
    width: 20%;
    border-radius: 23px;
    color: white;
    font-size: 20px;
    padding: 3px 0px;
  }

  .form-label {
    font-weight: bold;
  }
</style>
