<aside id="sidebar">
  <div class="d-flex">
    <button class="toggle-btn" type="button">
      <i class="fas fa-bars"></i>
    </button>
    <div class="sidebar-logo">
      <%= link_to root_path do %>
        MyKitchen
      <% end %>
    </div>
  </div>
  <ul class="sidebar-nav">
    <% if current_user && !current_user.user_detail&.is_admin %>
      <li class="sidebar-item">
        <%= link_to cart_path, class: "sidebar-link position-relative" do %>
          <i class="fas fa-shopping-cart"></i>
          <span><%= t("cart") %></span>
          <span id="cart-badge" class="cart-badge"><%= @cart.cart_items.count if current_user.cart.present? %></span>
        <% end %>
      </li>
      <li class="sidebar-item">
        <%= link_to orders_path, class: "sidebar-link position-relative" do %>
          <i class="fas fa-clipboard-list"></i>
          <span><%= t("orders") %></span>
          <span class="cart-badge2"><%= @order_count || 0 %></span>
        <% end %>
      </li>
    <% else %>
      <li class="sidebar-item">
        <%= link_to admin_orders_path, class: "sidebar-link position-relative" do %>
          <i class="fas fa-clipboard-list"></i>
          <span><%= t("orders") %></span>
          <span class="cart-badge2"><%= @admin_order_n || 0 %></span>
        <% end %>
      </li>
      <li class="sidebar-item">
        <%= link_to all_orders_path, class: "sidebar-link" do %>
          <i class="fas fa-clipboard-check"></i>
          <span><%= t("all_orders") %></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user && current_user.user_detail&.is_admin %>
      <li class="sidebar-item">
        <%= link_to admin_dashboard_path, class: "sidebar-link" do %>
          <i class="fas fa-tachometer-alt"></i>
          <span><%= t("admin_dashboard") %></span>
        <% end %>
      </li>
    <% end %>
    <% if current_user %>
      <li class="sidebar-item">
        <%= link_to edit_user_registration_path, class: "sidebar-link" do %>
          <i class="fas fa-user-cog"></i>
          <span><%= t("settings") %></span>
        <% end %>
      </li>
      <li class="sidebar-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "sidebar-link" do %>
          <i class="fas fa-sign-out-alt"></i>
          <span><%= t("logout") %></span>
        <% end %>
      </li>
    <% else %>
      <li class="sidebar-item">
        <%= link_to new_user_session_path, class: "sidebar-link" do %>
          <i class="fas fa-sign-in-alt"></i>
          <span><%= t("login") %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>
