<Navbar class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0 ms-4">
    <h2 class="d-inline-flex link-body-emphasis text-decoration-none">
      Mobile <span class="ms-1 text-primary">Kitchen</span>
    </h2>
  </div>

  <!-- Mobile Drawer Button -->
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileDrawer" aria-controls="mobileDrawer">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Mobile Drawer -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileDrawer" aria-labelledby="mobileDrawerLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="mobileDrawerLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link link-secondary me-4">Our custom menus</a></li>
        <%= link_to "Foods" , foods_path, class: "nav-link me-4" %>
        <% if current_user && !current_user.user_detail&.is_admin %>
          <li class="nav-item"><%= link_to 'View Cart', cart_path, class: "nav-link me-4" %></li>
          <li class="nav-item"><%= link_to 'Orders', orders_path, class: "nav-link me-4" %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Orders', admin_orders_path, class: "nav-link me-4" %></li>
          <li class="nav-item"><%= link_to 'Add food', new_food_path, class: "nav-link me-4" %></li>
        <% end %>
        <li class="nav-item"><%= link_to 'About', root_path, class: "nav-link me-4" %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link me-4" %></li>
          <li class="nav-item"><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary me-4" %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: "nav-link me-4" %></li>
          <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link me-4" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</Navbar>
