<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1 class="mb-0">Order Details</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Full Name:</strong> <%= @order.full_name %></p>
          <p><strong>Phone Number:</strong> <%= @order.phone_number %></p>
          <p><strong>Address:</strong> 
          <% if @order.address.start_with?('http') %>
            <%= link_to 'View on Google Maps', @order.address, target: '_blank' %>
          <% else %>
            <%= @order.address %>
          <% end %>
        </p>
        </div>
        <div class="col-md-6">
          <p><strong>Guests Number:</strong> <%= @order.guests_number %></p>
          <p><strong>Date:</strong> <%= @order.date %></p>
          <p><strong>Description:</strong> <%= @order.description %></p>
          <p>
            <strong>Status:</strong>
            <span class="badge bg-<%= @order.status == 'pending' ? 'warning' : @order.status == 'in_progress' ? 'info' : 'success' %>">
              <%= @order.status.capitalize %>
            </span>
          </p>
        </div>
      </div>

      <h2 class="mt-4">Foods</h2>
      <ul class="list-group mb-4">
        <% @order.foods.each do |food| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= food.name %> 
            <span class="badge bg-primary rounded-pill"><%= number_to_currency(food.price) %></span>
          </li>
        <% end %>
      </ul>

      <p><strong>Total Cost:</strong> <%= number_to_currency(@order.total_cost) %></p>

      <%= form_with model: [:admin, @order], local: true do |form| %>
        <div class="mt-4">
          <%= form.label :status, class: "form-label" %>
          <%= form.select :status, options_for_select(['pending', 'in_progress', 'delivered'], @order.status), class: "form-select" %>
        </div>
        <div class="mt-3">
          <%= form.submit 'Update Status', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="card-footer text-right">
      <%= link_to 'Back to Orders', admin_orders_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
