<br><br>
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h1 class="mb-0"><%=t("order_details")%></h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong><%=t("full_name")%>:</strong> <%= @order.full_name %></p>
          <p><strong><%=t("phone_number")%>:</strong> <%= @order.phone_number %></p>
          <p><strong><%=t("address")%>:</strong> 
          <% if @order.address.start_with?('http') %>
            <%= link_to t("view_on_google_maps"), @order.address, target: '_blank' %>
          <% else %>
            <%= @order.address %>
          <% end %>
        </p>
        </div>
        <div class="col-md-6">
          <p><strong><%=t("guest_numbers")%>:</strong> <%= @order.guests_number %></p>
          <p><strong><%=t("date")%>:</strong> <%= @order.date %></p>
          <p><strong><%=t("description")%>:</strong> <%= @order.description %></p>
          <p>
            <strong><%=t("status")%>:</strong>
            <span class="badge bg-<%= @order.status == 'pending' ? 'warning' : @order.status == 'in_progress' ? 'info' : 'success' %>">
              <%= @order.status.capitalize %>
            </span>
          </p>
        </div>
      </div>

      <h2 class="mt-4"><%=t("foods")%></h2>
      <ul class="list-group mb-4">
        <% @order.foods.each do |food| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= food.name %> 
            <span class="badge bg-dark rounded-pill"><%= food.price %> <%=t("afn")%></span>
          </li>
        <% end %>
      </ul>

      <p><strong><%=t("total_cost")%>:</strong> <%= @order.total_cost %> <%=t("afn")%></p>

      <%= form_with model: [:admin, @order], local: true do |form| %>
        <div class="mt-4">
          <%= form.label :status,t("status"), class: "form-label" %>
          <%= form.select :status, options_for_select(['pending', 'in_progress', 'delivered'], @order.status), class: "form-select" %>
        </div>
        <div class="mt-3">
          <%= form.submit t("update_status"), class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>
    <div class="card-footer text-right">
      <%= link_to t("back_to_orders"), admin_orders_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
