<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1>Edit Order</h1>
    </div>
    <div class="card-body">
      <%= form_with model: @order, local: true do |form| %>
        <div class="mb-3">
          <%= form.label :full_name, class: "form-label" %>
          <%= form.text_field :full_name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :phone_number, class: "form-label" %>
          <%= form.text_field :phone_number, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :address, class: "form-label" %>
          <%= form.text_field :address, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :guests_number, class: "form-label" %>
          <%= form.number_field :guests_number, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :date, class: "form-label" %>
          <%= form.date_field :date, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :description, 'Anything else?', class: "form-label" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div>
          <%= form.submit 'Update Order', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
