# app/views/orders/index.html.erb
<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
      <h1 class="mb-0"><%=t("your_orders")%></h1>
    </div>
    <div class="card-body">
      <% @orders.each do |order| %>
        <div class="order-item mb-3 p-4 border rounded shadow-sm">
          <h5><%=t("order")%> #<%= order.id %> - <%= order.full_name %> <%=t("order")%></h5>
          <p>
            <%=t("status")%>: 
            <span class="badge bg-<%= order.status == 'pending' ? 'warning' : 'success' %>">
              <%= order.status.capitalize %>
            </span>
          </p>
          <div class="btn-group mt-3" role="group">
            <%= link_to t("view_details") , order_path(order), class: "btn btn-dark btn-sm custom-btn" %>
            <% if order.status == 'pending' %>
              <%= link_to t("edit"), edit_order_path(order), class: "btn btn-secondary btn-sm custom-btn" %>
              <%= button_to t("cancel"), order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm custom-btn" %>
            <% end %>
            <% if order.status == 'delivered' && order.review.nil? && !current_user.user_detail&.is_admin %>
              <%= link_to t("rate_our_service"), rate_order_path(order), class: "btn btn-primary custom-btn" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @orders.empty? %>
        <div class="alert alert-info" role="alert">
          You have no orders at this time.
        </div>
      <% end %>
    </div>
  </div>
</div>
