<!-- app/views/orders/new.html.erb -->
<%= form_with model: @order, local: true do |form| %>
  <div class="form-group">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :guests_number %>
    <%= form.number_field :guests_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <% if @prebuilt_menu %>
    <div class="form-group">
      <%= form.hidden_field :prebuilt_menu_id, value: @prebuilt_menu.id %>
      <h3>Prebuilt Menu: <%= @prebuilt_menu.name %></h3>
      <%= image_tag @prebuilt_menu.image.variant(resize_to_limit: [400, 400]) if @prebuilt_menu.image.attached? %>
      <ul>
        <% @prebuilt_menu.foods.each do |food| %>
          <li><%= food.name %></li>
        <% end %>
      </ul>
      <p>Cost per Person: <%= number_to_currency(@prebuilt_menu.cost) %></p>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.submit 'Place Order', class: 'btn btn-primary' %>
  </div>
<% end %>
