<div class="container">
  <h1>Your Cart</h1>  <% if @cart %><h5>Total for a person: <%= @cart.total_price %> </h5> <% end %>

  <% if @cart && @cart.cart_items.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |item| %>
          <tr>
            <td><%= item.food.name %></td>
            <td><%= item.food.price %></td>
            <td><%= button_to 'Remove', cart_item_path(item), method: :delete, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Order Now', new_order_path, class: 'btn btn-primary' %>
    <%= link_to 'back to foods' , foods_path, class: 'btn btn-primary' %>
  <% else %>
    <div class="alert alert-info">
      Your cart is empty.
    </div>
  <% end %>
</div>
