<% user_name = current_user.email.split('@').first.capitalize %>

<div class="container py-5">
  <div class="row mb-4">
    <div class="col-md-8 offset-md-2 text-center">
      <% if current_user.user_detail && current_user.user_detail.is_admin %>
        <p class="welcome-message text-center"><%= t('welcome_admin') %></p>
      <% else %>
        <p class="welcome-message text-center"><%= t('welcome_user', user_name: user_name) %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1 class="display-4"><%= t('about_header') %></h1>
      <p class="lead text-end"><%= t('about_paragraph1') %></p>
      <hr class="my-4">
   
      <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=900" alt="<%= t('kitchen') %>" class="img-fluid btn mb-4">
      <p class="text-justify text-end">
        <%= t('about_paragraph2').gsub("\n", "<br>").html_safe %>
      </p>
      <p class="text-justify text-end">
        <%= t('about_paragraph3').gsub("\n", "<br>").html_safe %>
      </p>
      <p class="text-justify text-end">
        <%= t('about_paragraph4').gsub("\n", "<br>").html_safe %>
      </p>
      <a class="btn btn-primary btn-lg mt-4" href="<%= foods_path %>" role="button"><%= t('explore_menu') %></a>
    </div>
  </div>
</div>



<style>
  .welcome-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
  }
</style>
