<%= form_with(model: food, local: true, html: { multipart: true }) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>
      <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :category, class: "form-label" %>
    <%= form.text_field :category, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, step: 1, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>
