<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Foods</h1>

      <% if user_signed_in? && current_user.user_detail&.is_admin %>
        <%= link_to 'New Food', new_food_path, class: "btn btn-primary mb-4" %>
      <% end %>

      <% @foods.group_by(&:category).each do |category, foods| %>
        <h2 class="mb-4"><%= category.capitalize %></h2>
        <div class="row">
          <% foods.each do |food| %>
            <div class="col-md-4 mb-4">
              <div class="card">
              <div class="card-text">
              <strong>Image:</strong>
              <% if food.image.attached? %>
                <%= image_tag food.image, class: "img-fluid" %>
              <% else %>
                No image available
              <% end %>
            </div>
               
                <div class="card-body">
                  <h5 class="card-title"><%= food.name %></h5>
                  <p class="card-text"><strong>Price:</strong> <%= number_to_currency(food.price) %></p>
                  <p class="card-text"><%= link_to 'Show', food, class: "btn btn-primary btn-sm" %></p>
                  <% if user_signed_in? && current_user.user_detail&.is_admin %>
                    <%= link_to 'Edit', edit_food_path(food), class: "btn btn-secondary btn-sm" %>
                    <%= button_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", style: "display:inline-block" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
