<style>
  .custom-card-spacing .card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Foods</h1>

      <% if user_signed_in? && current_user.user_detail&.is_admin %>
        <%= link_to 'New Food', new_food_path, class: "btn btn-primary mb-4" %>
      <% end %>

      <% @foods.group_by(&:category).each do |category, foods| %>
        <h2 class="mb-4"><%= category.capitalize %></h2>
        <div class="row custom-card-spacing"> <!-- Added custom-card-spacing class -->
          <% foods.each do |food| %>
            <div class="col-md-3 mb-4"> <!-- Changed to col-md-3 -->
              <div class="card" style="width: 18rem;">
                <% if food.image.attached? %>
                  <%= link_to food do %>
                    <%= image_tag food.image, class: "card-img-top", style: "object-fit: cover; height: 200px; width: 100%;" %>
                  <% end %>
                <% else %>
                  <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="No image available" style="object-fit: cover; height: 200px; width: 100%;">
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= food.name %></h5>
                  <p class="card-text"><strong>Price:</strong> <%= number_to_currency(food.price) %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Category:</strong> <%= food.category %></li>
                </ul>
                <div class="card-body">
                  <%= link_to 'Show', food, class: "btn btn-primary mb-2" %>
                  <% if user_signed_in? && current_user.user_detail&.is_admin %>
                    <%= link_to 'Edit', edit_food_path(food), class: "btn btn-secondary mb-2" %>
                    <%= button_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mb-2" %>
                  <% end %>
                  <% if user_signed_in? && !current_user.user_detail&.is_admin %>
                    <%= button_to 'Add to Cart', cart_items_path(food_id: food.id), method: :post, class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
