<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Foods</h1>

      <% if user_signed_in? && current_user.user_detail&.is_admin %>
        <%= link_to 'New Food', new_food_path, class: "btn btn-primary mb-4" %>
      <% end %>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <% if user_signed_in? && current_user.user_detail&.is_admin %>
              <th colspan="2">Actions</th>
            <% else %>
              <th>Show</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td><%= food.name %></td>
              <td><%= food.category %></td>
              <td><%= number_to_currency(food.price) %></td>
              <td>
                <% if food.image.attached? %>
                  <%= image_tag food.image.variant(resize_to_limit: [100, 100]), class: "img-thumbnail" %>
                <% else %>
                  No image available
                <% end %>
              </td>
              <% if user_signed_in? && current_user.user_detail&.is_admin %>
                <td><%= link_to 'Edit', edit_food_path(food), class: "btn btn-secondary btn-sm" %></td>
                <td>
                  <%= button_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", style: "display:inline-block" %>
                </td>
              <% else %>
                <td><%= link_to 'Show', food, class: "btn btn-primary btn-sm" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
