<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Food Details</h5>

          <p class="card-text">
            <strong>Name:</strong>
            <%= @food.name %>
          </p>

          <p class="card-text">
            <strong>Category:</strong>
            <%= @food.category %>
          </p>

          <p class="card-text">
            <strong>Price:</strong>
            <%= number_to_currency(@food.price) %>
          </p>

          <div class="card-text">
            <strong>Image:</strong>
            <% if @food.image.attached? %>
              <%= image_tag @food.image, class: "img-fluid" %>
            <% else %>
              No image available
            <% end %>
          </div>

          <% if user_signed_in? && current_user.user_detail&.is_admin %>
            <%= link_to 'Edit', edit_food_path(@food), class: "btn btn-primary" %>
          <% end %>

          <%= link_to 'Back', foods_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
