<!-- app/views/foods/show.html.erb -->
<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @food.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@food.price) %>
</p>

<p>
  <strong>Image:</strong>
  <% if @food.image.attached? %>
    <%= image_tag @food.image %>
  <% else %>
    No image available
  <% end %>
</p>

<%= link_to 'Edit', edit_food_path(@food) if user_signed_in? && current_user.user_detail&.is_admin %> |
<%= link_to 'Back', foods_path %>
