<!-- app/views/reviews/_review.html.erb -->
<div id="<%= dom_id review %>">
  <p>
    <strong><%=t("user")%></strong>
    <%= review.user.email %>
  </p>

  <p>
    <strong><%=t("order_address")%></strong>
    <%= review.order.address %>
  </p>

  <p>
    <strong><%=t("full_name")%></strong>
    <%= review.order.full_name %>
  </p>

  <p>
    <strong><%=t("rating")%></strong>
    <%= review.rating %> 
  </p>

  <p>
    <strong><%=t("feedback")%></strong>
    <%= review.feedback %>
  </p>

  <p>
    <strong><%=t("suggestion")%></strong>
    <%= review.suggestion %>
  </p>

</div>
