<!-- app/views/reviews/_review.html.erb -->
<div id="<%= dom_id review %>">
  <p>
    <strong>User:</strong>
    <%= review.user.email %>
  </p>

  <p>
    <strong>Order Address:</strong>
    <%= review.order.address %>
  </p>

  <p>
    <strong>Order Full Name:</strong>
    <%= review.order.full_name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= review.feedback %>
  </p>

  <p>
    <strong>Suggestion:</strong>
    <%= review.suggestion %>
  </p>

</div>
