<h1>Edit User Details</h1>

<%= form_for(@user_detail) do |f| %>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="actions">
    <%= f.submit "Update Details" %>
  </div>
<% end %>

<%= link_to 'Back', @user_detail %>
