<h1>User Details</h1>

<p>
  <strong>Phone Number:</strong>
  <%= @user_detail.phone_number %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user_detail.is_admin ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_detail.name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user_detail.last_name %>
</p>

<%= link_to 'Edit', edit_user_detail_path %>
<%= link_to 'Back', root_path %>
